



#wrapper{


    
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-areas: 
    "hd"
    "main"
    "s1"
    "s2"
    "ft";
    background-image: url(../img/redigerade\ bilder/tobbeblur.jpg);
    
}




header{
    grid-area: hd;
    color: white;
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
    
    


    
    
}



main{
    grid-area: main;
 
    


}

#div1{
    
}

main h1{
    font-family: Copperplate;
    font-size: 1.8rem;
    color: white;
    display: flex;
    justify-content: center;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 5rem;
    
}

#s1{
    grid-area: s1;
    display: flex;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 7rem;
    filter: drop-shadow(0 0 0.95rem rgb(0, 0, 0));
    
    

    
    
  


    
}

#s2{
    grid-area: s2;
    font-family: Copperplate;
    display: flex;
    justify-content: space-between;
    
   
      
}

#s2 p{
    margin-left: 7rem;
    margin-right: 12rem;
}

footer{
    grid-area: ft;

}

nav ul li {
    list-style: none;
    font-family: Copperplate;
    font-size: 2rem;
    
    
}

nav ul{
    display: flex;
    justify-content: space-between;

    
}
header h1{
    display: flex;
    justify-content: center;
    font-family: Copperplate;
    font-size: 3rem;
    margin-bottom: 3rem;
    margin: 2rem;
  
}
footer{
   
}

@media screen and (max-width:600px) {

    

    header{
        position: relative;
        
    }
    header h1{
        font-size: 2rem;
        
        

    }

    nav {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav.active{
        max-height: 1000px;
        transition: max-height 1.2s;

    }

    

    

    #hamburger{
     
        height: 2rem;
        width: 2rem;
        position: absolute;
        top: 5rem;
        left: 0.5rem;
        
    }

    #hamburger div {
        border: 1.5px solid black;
        margin: 0.2rem;
    }

    nav ul {
        display: block;
        

    }

    nav ul li{
        font-size: 1.5rem;
    }



}