#wrapper{
    
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-areas: 
    
    "hd"
    "main"
    "ft";
}

#s1{
    font-family: Copperplate;
    grid-area: s1;

}

#s2{
    font-family: Copperplate;
    grid-area: s2;
}
h1{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
}

h2{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;


}

img{
    
    
}

#s1 p{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-left: 12rem;
    margin-right: 12rem;
}

#s2 p{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-left: 12rem;
    margin-right: 12rem;
}


body{
    
}







header{
    grid-area: hd;
    color: black;
   
    
}
main{
    grid-area: main;
    color: black;
    

}


footer{
    grid-area: ft;
    background-color: darkblue;
}

nav ul li {
    list-style: none;
    font-family: Copperplate;
    font-size: 2rem;
    
    
}

nav ul{
    display: flex;
    justify-content: space-between;
}
header h1{
    display: flex;
    justify-content: center;
    font-family: Copperplate;
    font-size: 3rem;
    margin-bottom: 3rem;
    margin: 2rem;
}
footer{
    background-color: bisque;
}

@media screen and (max-width:600px) {

    

    header{
        position: relative;
        
    }
    header h1{
        font-size: 2rem;
        margin: none;
        

    }

    nav {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav.active{
        max-height: 1000px;
        transition: max-height 1.2s;

    }

    

    #hamburger{
     
        height: 2rem;
        width: 2rem;
        position: absolute;
        top: 5rem;
        left: 0.5rem;
        
    }

    #hamburger div {
        border: 1.5px solid black;
        margin: 0.2rem;
    }

    nav ul {
        display: block;
        

    }

    nav ul li{
        font-size: 1.5rem;
    }



}