#wrapper{
    
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-areas: 
    
    
    "hd"
    "s1"
    "s2"
    "s8"
    "main"
    "ft";
}

a{
    color: white;
    text-decoration: none;
    
}

#s1{
    font-family: Copperplate;
    grid-area: s1;
    color: white;

}

#s2{
    font-family: Copperplate;
    grid-area: s2;
    color: white;
}
h1{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;

}

h2{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;


}

#s3{
    grid-area: s3;
    display: flex;
    
    
}

img{
    margin-left: 2.2rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    

    
    
    
    
}
h3{

    font-size: 2.5rem;
    display: flex;
    justify-content: center;

}
#s1 p{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-left: 12rem;
    margin-right: 12rem;
}

#s2 p{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-left: 12rem;
    margin-right: 12rem;
}

#s4{
    font-family: Copperplate;
    grid-area: s4;
    color: white;
}

#s4 h3{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
}

#s4 p{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-left: 10rem;
    margin-right: 10rem;
}

#s6{
    font-family: Copperplate;
    grid-area: s6;
    color:white;
}

#s6 h4{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;

}

#s6 p{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-left: 10rem;
    margin-right: 10rem;

}
#s7{
    grid-area: s7;
    display: flex;
    justify-content: center;
}

#s8{
    display: flex;
    justify-content: center;
    grid-area: s8;
}

#forsta{
   
    
}
#andra{
    
    
}

body{

    background-image: url(../img/redigerade\ bilder/bakgrund4.jpg);
    
}








header{
    grid-area: hd;
    color: white;
   
    
}
main{
    grid-area: main;
    color: white;
    

}


footer{
    grid-area: ft;
    background-color: darkblue;
}

nav ul li {
    list-style: none;
    font-family: Copperplate;
    font-size: 2rem;
    
    
}

nav ul{
    display: flex;
    justify-content: space-between;
}
header h1{
    display: flex;
    justify-content: center;
    font-family: Copperplate;
    font-size: 3rem;
    margin-bottom: 3rem;
    margin: 2rem;
}
footer{
    background-color: bisque;
}

@media screen and (max-width:600px) {

    

    header{
        position: relative;
        
    }
    header h1{
        font-size: 2.7rem;
        margin-right: 8rem;
        

    }

    h2{
        margin-right: 5rem;
    }

    #s1 p{
        margin-left: 5rem;
    }

    body{
        background-color: red;
        background-image: url(../img/redigerade\ bilder/bakgrund3.jpg);
    }

    nav {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav.active{
        max-height: 1000px;
        transition: max-height 1.2s;

    }

    img{
        display: none;
    }

    #hamburger{
     
        height: 2rem;
        width: 2rem;
        position: absolute;
        top: 5rem;
        left: 0.5rem;
        
        
    }

    #hamburger div {
        border: 1.5px solid white;
        margin: 0.2rem;
    }

    nav ul {
        display: block;
        

    }

    nav ul li{
        font-size: 1.5rem;
    }



}